<body>
    <div id="content">
    #content {
        max-width: 1600;
        margin: 0 auto;
    }
        <header>
        nav a{
            text-align: center;
        }
        #hero-msg h1{
            text-align: center;
        }
        #hero-msg h4{
            text-align: center;
        }
        main section{
            text-align: center;
        }
        #background{
            height: 725px;
        }
        body {
            background-color: skyblue; 
        }
        header {
            background-color:rgba(20,30,13, .7);
        }
        nav a:hover {
            background-color: black;
        }
        </footer>
    </div>
</body>

