.main_grid{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 2fr, 0.5fr;
}
h1{
    font-size: 100px;
    text-align: center;
    grid-column:2/3;
    grid-row: 1/2;
    z-index: 1;
}
img{
    grid-column: 2/3;
    grid-row: 1/2;
}
#background{
    height: 650px;
    background-color: lightgrey;
    grid-column: 2/3;
    grid-row: 2/3;
}

p{
    font-size: 50px;
    color: red;
    grid-column: 2;
    grid-row: 2;
    z-index: 1;
    text-align:center;
    display: grid;
    align-content: end;
}